<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2>Note Details</h2>
			<table class="table">
				<tbody>
					<tr>
						<td class="bg-light" style="width: 30%;"><strong>Date</strong></td>
						<td><%= @note.updated_at.strftime("%b %d, %Y") %></td>
					</tr>
					<tr>
						<td class="bg-light" style="width: 30%;"><strong>Note Text</strong></td>
						<td><%= @note.note_text %></td>
					</tr>
					<tr>
						<td class="bg-light" style="width: 30%;"><strong>Amount</strong></td>
						<td><%= @note.amount %></td>
					</tr>
					<tr>
						<td class="bg-light" style="width: 30%;"><strong>Transaction</strong></td>
						<td><%= @note.related_transaction&.name %></td>
					</tr>
				</tbody>
			</table>

			<%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-primary' %>
			<%= link_to 'Back to Notes', notes_path, class: 'btn btn-secondary' %>
		</div>
	</div>
</div>

