<%= form_for @budget_category, url: budget_category_path(@budget,@budget_category) do |f| %>
  <% if @budget_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prevented this category from being saved:</h2>

      <ul>
      <% @budget_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account %><br />
    <%= f.select :account_id, options_from_collection_for_select(@user.sortedAccounts, "id", "name", @budget_category.account_id) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
