<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @budget_category.category.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @budget_category.amount %>
</p>

<p>
  <b>Period:</b>
  <%= @budget_category.period %>
</p>

<%= link_to 'Edit', edit_budget_category_path(@budget_category) %> |
<%= link_to 'Back', budget_categories_path %>
