<h1>Welcome</h1>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'expenses/year_navigator' %>
	</div>
</div>

<div class="card-deck">
	<div class="card">
		<h5 class="card-header">Revenue</h5>
		<div class="card-body">
			<p class="card-text">
				<strong>Uncategorized: </strong>
				<span class="credit">$<%= @revenues_uncategorized[0][:uncategorized_revenue] %></span>
				(<%= link_to @revenues_uncategorized[0][:count],
					uncategorized_expenses_path(:year => @year) %> transactions)
			</p>
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">Expenses</h5>
		<div class="card-body">
			<p class="card-text">
				<strong>Uncategorized: </strong>
				<span class="debit">$<%= @expenses_uncategorized[0][:uncategorized_expenses] %></span>
				(<%= link_to @expenses_uncategorized[0][:count],
					uncategorized_expenses_path(:year => @year) %> transactions)
			</p>
		</div>
	</div>
</div>
