<h3>Income</h3>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <%= will_paginate @transactions %>
      </div>
  </div>
</div>

<table class="table table-striped table-condensed">
  <tr>
	<th width="100px"><%= sortable "tx_date", "Date" %></th>
	<th><%= sortable "account_id", "Account" %></th>
	<th><%= sortable "details" %></th>
	<th><%= sortable "notes" %></th>
	<th width="75px"><%= sortable "amount" %></th>
	<th>Category</th>
  </tr>

<% @transactions.each do |transaction| %>
<% @txAmount = (transaction.debit.nil? ? 0 : transaction.debit) %>
<% @txAmountClass = "credit" %>
  <tr>
	<td><%= best_in_place transaction, :tx_date, :as => :date, :display_as => :format_date %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
			<%= f.select :acct_id_dr, options_from_collection_for_select(@user.sortedAccounts,'id','name', transaction.acct_id_dr), {}, :class => 'income_update' %>
		<% end %>
	</td>
	<td><%= best_in_place transaction, :details, :as => :textarea %></td>
	<td><%= best_in_place transaction, :notes%></td>
	<td class="<%= @txAmountClass %>"><%= number_to_currency(@txAmount) %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
			<%= f.select :acct_id_cr, options_from_collection_for_select(Account.income,'id','name', transaction.acct_id_cr), { :include_blank => "select type"}, :class => 'income_update' %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>
