<%= form_with(model: @transaction, local: true) do |form| %>
  <div class="row px-4">
    <div class="col-md-3">

      <table class="table">
        <tbody>
          <tr>
            <td class="bg-light"><strong>Transaction Date</strong></td>
            <td><%= form.text_field :tx_date, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Posting Date</strong></td>
            <td><%= form.text_field :posting_date, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Account ID (Credit)</strong></td>
            <td><%= form.select :acct_id_cr, @accounts, {}, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Credit Amount</strong></td>
            <td><%= form.text_field :credit, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Account ID (Debit)</strong></td>
            <td><%= form.select :acct_id_dr, @accounts, {}, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Debit Amount</strong></td>
            <td><%= form.text_field :debit, class: 'form-control' %></td>
          </tr>

          <tr>
            <td class="bg-light"><strong>Details</strong></td>
            <td><%= form.text_field :details, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="bg-light"><strong>Notes</strong></td>
            <td><%= form.text_field :notes, class: 'form-control' %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
          <tr>
            <td>
              <%= link_to 'Save', '#', class: 'btn btn-primary', id: 'submit-form' %>
              <% if !@transaction.id.nil? %>
                <%= link_to 'Delete', transaction_path(@transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <% end %>
              <%= link_to "Back to transactions", transactions_path, class: 'btn btn-secondary' %>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
<% end %>

<script>
  document.getElementById('submit-form').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('form').submit();
  });
</script>