<%= form_for (@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tx_date %><br />
    <%= f.text_field :tx_date %>
  </div>

  <div class="field">
    <%= f.label :posting_date %><br />
    <%= f.text_field :posting_date %>
  </div>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, @accounts %>
  </div>

  <div class="field">
    <%= f.label :debit %><br />
    <%= f.text_field :debit %>
  </div>

  <div class="field">
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </div>

  <div class="field">
    <%= f.label :tx_type %><br />
    <%= f.text_field :tx_type %>
  </div>

  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, @categories %>
  </div>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>