<table class="table table-striped table-condensed">
  <tr>
	<th width="120px"><%= sortable "tx_date", "Date" %></th>
	<th>Debit Account</th>
	<th><%= sortable "debit", "Amount" %></th>
	<th><%= sortable "acct_id_cr", "Credit Account" %></th>
	<th><%= sortable "credit", "Amount" %></th>
	<th><%= sortable "details" %></th>
	<th><%= sortable "notes" %></th>
  </tr>

<% @transactions.each_with_index do |transaction, idx| %>
<% txCredit = (transaction.credit.nil? ? 0 : transaction.credit) %>
<% txDebit = (transaction.debit.nil? ? 0 : transaction.debit) %>
  <tr>
	<td><%= best_in_place transaction, :tx_date, :as => :date, :display_as => :format_date %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
		<%= f.select :acct_id_dr, options_from_collection_for_select(@user.sortedAccounts,'id','name', transaction.acct_id_dr), { :include_blank => "select type"}, :class => 'transaction_update', tabindex: ((idx+1)*2)+1 %>
	<% end %>
	</td>
	<td class="debit"><%= number_to_currency(txDebit) %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
			<%= f.select :acct_id_cr, options_from_collection_for_select(@user.sortedAccounts,'id','name', transaction.acct_id_cr), {}, :class => 'transaction_update', tabindex: "-1" %>
		<% end %>
	</td>	
	<td class="credit"><%= number_to_currency(txCredit) %></td>
	<td><%= best_in_place transaction, :details, :as => :textarea %></td>
	<td><%= best_in_place transaction, :notes, :class => 'expense_note', tabindex: (idx+1)*2 %></td>
  </tr>
<% end %>
</table>
