<p id="notice"><%= notice %></p>

<p>
  <b>Transaction Date:</b>
  <%= @transaction.tx_date %>
</p>

<p>
  <b>Posting Date:</b>
  <%= @transaction.posting_date %>
</p>

<p>
  <b>Type:</b>
  <%= @transaction.tx_type %>
</p>

<p>
  <b>Details:</b>
  <%= @transaction.details %>
</p>

<p>
  <b>Debit:</b>
  <%= @transaction.debit %>
</p>

<p>
  <b>Credit:</b>
  <%= @transaction.credit %>
</p>

<p>
  <b>Notes:</b>
  <%= @transaction.notes %>
</p>

<p>
  <b>Attachment:</b>
  <%= @transaction.attachment.attached? ?
    link_to( @transaction.attachment.filename, url_for(@transaction.attachment)) :
    "(none)" %>
</p>

<h3>Related Transactions</h3>
<%= render partial: "transactions/typed_transaction_list", locals: {txType: 'expense'} %>
