<table class="table table-striped table-condensed">
  <tr>
	<th width="100px"><%= sortable "tx_date", "Date" %></th>
	<th><%= sortable "account_id", "Account" %></th>
	<th><%= sortable "details" %></th>
	<th><%= sortable "notes" %></th>
	<th width="75px"><%= sortable "credit", "Amount" %></th>
	<th>Category</th>
	<th>Action</th>
  </tr>

<% @transactions.each_with_index do |transaction, idx| %>
<% @txAmount = (transaction.credit.nil? ? 0 : transaction.credit) %>
<% @txAmountClass = (transaction.is_expense == 1 ? "debit" : "credit") %>

  <tr>
	<td><%= best_in_place transaction, :tx_date, :as => :date, :display_as => :format_date %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
			<%= f.select :acct_id_cr, options_from_collection_for_select(@user.sortedAccounts,'id','name', transaction.acct_id_cr), {}, :class => 'expense_update', tabindex: "-1" %>
		<% end %>
	</td>
	<td><%= best_in_place transaction, :details, :as => :textarea %></td>
	<td><%= best_in_place transaction, :notes, :class => 'expense_note', tabindex: (idx+1)*2 %></td>
	<td class="<%= @txAmountClass %>"><%= number_to_currency(@txAmount) %></td>
	<td><%= form_for transaction, :remote => true do |f| %>
			<%= f.hidden_field :debit, value: transaction.debit.nil? ? transaction.credit : transaction.debit  %>
			<%= f.select :acct_id_dr, options_from_collection_for_select(@user.sortedAccounts,'id','name', transaction.acct_id_dr), { :include_blank => "select type"}, :class => 'expense_update', tabindex: ((idx+1)*2)+1 %>
		<% end %>
	</td>
	<td><%= link_to "Split", split_expenses_path(:id => transaction.id) %></td>
  </tr>
<% end %>
</table>
