<%= form_with(model: transaction, url: "/expenses/split_update") do |f|%>
	<% if transaction.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
			<ul>
				<% transaction.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.hidden_field :id %>
	<div class="form-group row">
		<%= f.label "Amount", class: 'col-sm-3 col-form-label' %>
		<%= f.text_field :credit, class: 'col-sm-6 form-control' %>
	</div>
	<div class="form-group row">
		<%= f.label :acct_id_dr, class: 'col-sm-3 col-form-label' %>
		<%= f.select :acct_id_dr, 
        options_from_collection_for_select(@user.sortedAccounts,'id','name', 
        transaction.acct_id_dr), { :include_blank => "select type"}, 
        :class => 'col-sm-6 form-control' %>
	</div>
	<div class="form-group row">
		<%= f.label :tx_type, class: 'col-sm-3 col-form-label' %>
		<%= f.text_field :tx_type, class: 'col-sm-6 form-control' %>
	</div>
	<div class="form-group row">
		<%= f.label :details, class: 'col-sm-3 col-form-label' %>
		<%= f.text_field :details, class: 'col-sm-6 form-control' %>
	</div>
	<div class="form-group row">
		<%= f.label :notes, class: 'col-sm-3 col-form-label' %>
		<%= f.text_field :notes, class: 'col-sm-6 form-control' %>
	</div>
	<%= f.hidden_field :acct_id_cr, :value => transaction.acct_id_cr%>
	<%= f.hidden_field :tx_date, :value => transaction.tx_date%>
	<%= f.hidden_field :posting_date, :value => transaction.posting_date%>
	<%= submit_tag( local_assigns[:submitText] ? submitText : "Save Changes" ) %>
<% end %>
