<%= render partial: "category_heading" %>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'year_navigator' %>
	</div>
</div>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'month_navigator' %>
	</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    <div class="col-md-2">
      <%= link_to "View Uncategorized", uncategorized_transactions_path(:tx_type => 'debit') %>
    </div>
  </div>
</div>

<%= render partial: "transactions/typed_transaction_list", locals: {txType: 'expense'} %>

<div class="row">
	<div class="col-md-12 text-right">
		<button id="exportCsv" type="submit" class="btn mb-1" onclick="exportCsv()">Download as CSV</button>
	</div>
</div>

<% if !@accountTotals.nil? %>
	<h3>Amount per Account</h3>

	<div class="row">
		<div class="col-md-3">
			<table class="table table-striped table-condensed">
				<tr>
					<th width="120px">Account</th>
					<th class="text-center" width="75px">Amount</th>
				</tr>
				<% @accountTotals.each_with_index do |acctTot, idx| %>
				<tr>
					<td><%= acctTot[1][0] %></td>
					<td><%= number_to_currency(acctTot[1][1]) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
<% end %>
