<h3>Expenses</h3>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'year_navigator' %>
	</div>
</div>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'month_navigator' %>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<%= will_paginate @transactions %>
		</div>
		<div class="col-md-2">
			<%= link_to "View Uncategorized", uncategorized_expenses_path %>
		</div>
	</div>
</div>

<%= render partial: "transactions/typed_transaction_list", locals: {txType: 'expense'} %>

<% @accountTotals.each do |acctTot| %>
	<%= acctTot.to_json%>
<% end %>