<h4><%= title %></h4>

<table class="table table-striped table-condensed">
  <tr>
  <th>Category</th>
  <th><%= @quantum %></th>
  <th>Credit</th>
	<th>Debit</th>
  </tr>

<% data.each do |tx| %>
  <tr>
	<td><%= tx.name %></td>
  <td><%= tx.quantum %></td>
	<td><%= tx.respond_to?(:credit) ? tx.credit : 0  %></td>
	<td><%= tx.respond_to?(:debit) ? tx.debit : 0 %></td>
  </tr>
<% end %>
</table>
