<h4><%= title %></h4>

<table class="table table-striped table-condensed">
  <tr>
  <th>Category</th>
  <th><%= @quantum %></th>
  
  <% if defined?(columns)%>
    <% columns.each do |col| %>
      <th><%= col %></th>
    <% end %>
  <% else %>
    <th>Credit</th>
    <th>Debit</th>
  <% end %>
  </tr>

<% data.each do |tx| %>
  <tr>
	<td><%= tx.name %></td>
  <td><%= tx.quantum %></td>
  <% if defined?(columns)%>
    <% columns.each do |col| %>
      <td><%= tx.respond_to?(col) ? tx[col] : 0 %></td>
    <% end %>
  <% else %>
    <td><%= tx.respond_to?(:credit) ? tx.credit : 0  %></td>
    <td><%= tx.respond_to?(:debit) ? tx.debit : 0 %></td>
  <% end %>

  </tr>
<% end %>
</table>
