<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 center-block text-center">
		<h4><%= title if local_assigns[:title] %></h4>
		<svg id="<%= local_assigns[:domId] ? domId : "chartStacked" %>"></svg>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script>

	function buildStackedAreaChart( )
	{
		var domId = "<%= local_assigns[:domId] ? "#" + domId : "#chartStacked" %>";

		var avg = "<%= local_assigns[:average] ? average : nil %>";

		var chartDataIndex = <%= local_assigns[:chartDataIndex] ? chartDataIndex : 0 %>;

		var teams = gon.stacked1[chartDataIndex];

		var height = 550;

		nv.addGraph(function() {
			var chart = nv.models.multiBarChart()
				.stacked(true)
				.showControls(false)
				.x(function(d) { return d[0] })
				.y(function(d) { return d[1] })
				//.margin({"left":0,"right":0,"top":0,"bottom":0})
				.clipEdge(true)
				.useInteractiveGuideline(true)
				.height(height)
				;

			chart.xAxis
				.showMaxMin(false);

			chart.yAxis
				.tickFormat(d3.format('d'));

			d3.select(domId)
				.datum(teams)
				.transition()
				.duration(500)
				.attr("height",height)
				.call(chart);

			nv.utils.windowResize(chart.update);

			chart.multibar.dispatch.on("elementClick", function(e) {console.log(e);})

			return chart;
		}, doSomething( domId, avg ));
	}

	var doSomething = function(domId, avg) {
			return function(chart) {
				addAverageLine( chart, domId, avg );
		};
	};

	function addAverageLine( chart, domId, avg ){

		// Get cjart margin
		var margin = chart.margin();

		// Get chart yScale
		var yScale = chart.yAxis.scale();

		//call generic function...since you'll want this on potentially multiple types of charts
		drawFixedLineAndText(domId, 960, margin, avg, yScale, "Avg: $" + avg);

		function drawFixedLineAndText(chartName, width, margin, yValue, yValueScale, text) {

		var svg = d3.select( chartName );
		svg.append("line")
			.style("stroke", "#FF7F0E")
			.style("stroke-width", "2.0px")
			.attr("x1", margin.left)
			.attr("y1", yValueScale(yValue) + margin.top)
			.attr("x2", width - margin.right)
			.attr("y2", yValueScale(yValue) + margin.top);

		//add text to fixed line
		d3.select( chartName)
		    .append("text")
		    .attr("x", width - margin.right - (text.length * 2) )
		    .attr("y", yValueScale(yValue) + margin.top - 5)
		    .attr("text-anchor", "middle")
		    .text(text);
		//end fixed line
		}
	}

	buildStackedAreaChart( );

</script>
