<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 center-block text-center">
		<h2><%= title if local_assigns[:title] %></h2>
		<svg id="<%= local_assigns[:domId] ? domId : "chartStacked" %>"></svg>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script>

	var valField = "<%= local_assigns[:valueField] ? valueField : "debit" %>"
	function transform(data) {
		// Destination format: [{key:name,values:[{x:month,y:debit}]}]

		console.log("input", data);
		var data_nvd3 = new Array();
		var dataObj = new Object();
		var maxMonth = 0;

		for( var i = 0 ; i < data.length ; i++ ){

			var key = data[i].name;
			var month = data[i].month;
			var value = data[i][valField];

			maxMonth = Math.max(month,maxMonth);

			if (!(key in dataObj)){

				dataObj[key] = new Object();
				dataObj[key].values = new Array();

			}
			var obj = new Object();
			obj.x = month;
			obj.y = parseFloat(value);
			dataObj[key].values[month] = obj;
		}

		for( key in dataObj ){
			// Fill in any blanks
			for( i = 1 ; i <= maxMonth; i++)
			{
				if( dataObj[key].values[i] == null)
				{
						dataObj[key].values[i] = {"x":month,"y":0};
				}
			}
			dataObj[key].values.shift();
			var entry = {"key":key,"values":dataObj[key].values};
			data_nvd3.push(entry);
		}

		return data_nvd3;
	}

	function buildStackedAreaChart( )
	{
		var domId = "<%= local_assigns[:domId] ? "#" + domId : "#chartStacked" %>";

		var avg = "<%= local_assigns[:average] ? average : nil %>";

		var chartDataIndex = <%= local_assigns[:chartDataIndex] ? chartDataIndex : 0 %>;

		var teams = transform(<%= local_assigns[:data] %>);
		console.log(teams);

		var height = 550;

		var chart;
		nv.addGraph(function() {
			chart = nv.models.multiBarChart()
				.stacked(true)
				.showControls(false)
				.clipEdge(true)
				.useInteractiveGuideline(true)
				.height(height)
				;

			chart.xAxis
				.showMaxMin(false);

			chart.yAxis
				.tickFormat(d3.format('d'));

			d3.select(domId)
				.datum(teams)
				.transition()
				.duration(500)
				.attr("height",height)
				.call(chart);

			nv.utils.windowResize(chart.update);

			return chart;
		});
	}

	buildStackedAreaChart();

</script>
