
<% height = local_assigns.fetch(:height, '800')%>

<% if local_assigns[:title] %>
	<h2><%= title %></h2>
<% end %>
<div
	id="<%= local_assigns[:domId] ? domId : "chartStacked" %>"
	style="<%= "width: 100%; height:" + height + "px;" %>">
</div>



<script type="text/javascript">

	// Add the chart to the page
	var chartDom = document.getElementById("<%= local_assigns[:domId] ? domId : "chartStacked" %>");

	var myChart = echarts.init(chartDom);

	var chartOptions = <%= local_assigns[:data] %>;

	chartOptions && myChart.setOption(chartOptions);

</script>
