<h2>All Time Spend</h2>

<table class="table table-striped table-condensed">
	<tr>
		<th width="100px">Year</th>
		<th>Expenses</th>
		<th>Expenses (uncategorized)</th>
		<th>Revenue</th>
		<th>Revenue (uncategorized)</th>
		<th>Net Income</th>
	</tr>

<% @results.each_with_index do |item, idx| %>
	<tr>
		<td><%= item[0][:year]%></td>
		<td><%= number_to_currency(item[0][:expenses], precision: 0)%></td>
		<td><%= link_to number_to_currency(item[0][:uncategorized_expenses],precision: 0), uncategorized_expenses_path(:year => item[0][:year]) %></td>
		<td><%= number_to_currency(item[0][:revenue], precision: 0)%></td>
		<td><%= link_to number_to_currency(item[0][:uncategorized_revenue], precision: 0), uncategorized_incomes_path(:year => item[0][:year]) %></td>
		<td><%= number_to_currency(item[0][:net_revenue], precision: 0)%></td>
	</tr>
<% end %>
</table>