<h3>Income Statement</h3>

<div class="row lead">
	<div class="col-md-3">
		<%= render 'expenses/year_navigator' %>
	</div>
</div>

<%= render partial: "multiBarChart", locals: {
  title: "Income",
  domId: "income",
  data: "gon.income",
  valueField: "income"
  }
%>

<%= render partial: "multiBarChart", locals: {
  title: "Expenses",
  domId: "expense",
  data: "gon.expense",
  valueField: "expenses"
  }
%>

<h4>Income</h4>
<div id="tableIncome"></div>

<%= render partial: "categoryTable", locals: {
  gonData: "gon.income2",
  domId: "tableIncome",
  year: @year,
  valueField: "income",
  linkURLPath: "../incomes",
  }
%>

<h4>Expenses</h4>
<div id="tableExpense"></div>

<%= render partial: "categoryTable", locals: {
  gonData: "gon.expense2",
  domId: "tableExpense",
  year: @year,
  valueField: "expenses",
  linkURLPath: "../expenses",
  }
%>
