<div class="container">
	<h3>Report for <%= @month.nil? ? "" : (Date::MONTHNAMES[@month] + ',') %> <%= @year %></h3>

	<div id="content" style="width:1200px;">
	    <div id="divLeft" style="width:500px; height: 500px; display:inline-block; float:left;"></div>
	    <div id="divMid" style="width:200px; height: 500px; display:inline-block; float:left;"></div>
	    <div id="divRight" style="width:500px; height: 500px; display:inline-block; float:right;"></div>
	</div>

</div>

<script>

var category_amounts = <%= j @category_amounts.to_json.html_safe %> ;
var totalExpense =<%= j @totalExpense %>;
buildPie( category_amounts, totalExpense, 1, "#divLeft", "Expense" );

var category_income = <%= j @category_income.to_json.html_safe %> ;
var totalIncome =<%= j @totalIncome %>;
buildPie( category_income, totalIncome, 1, "#divRight", "Income" );

buildMid( totalIncome - totalExpense, "#divMid" );

</script>

<div id="chartContainer">
  <script type="text/javascript">

  	var data = <%= raw render(:file => 'transactions/index.json.rabl') %>
  	renderData( data );

    function renderData(data) {
      // Income
      var svgIncome = dimple.newSvg("#chartContainer", 890, 400);
      var incomeData = dimple.filterData(data, "type", "Income");
      build( svgIncome, incomeData );

      // Expenses
      var svgExpenses = dimple.newSvg("#chartContainer", 890, 400);
      var expenseData = dimple.filterData(data, "type", "Expense");
      expenseData = expenseData.map(function(elem, idx, ctx ){
          elem.amount = elem.amount * -1;
          return elem;
        });
      build( svgExpenses, expenseData );

      // Assets
      var svgAsset = dimple.newSvg("#chartContainer", 890, 400);
      var assetData = dimple.filterData(data, "type", "Asset");
      build( svgAsset, assetData );

    }

    function build( svg, data )
    {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 810, 305)
      var x = myChart.addCategoryAxis("x", "category");
      x.addOrderRule("amount",true);
      myChart.addMeasureAxis("y", "amount").tickFormat = ".0f";
      myChart.addSeries(null, dimple.plot.bar);
      myChart.draw();
    }
  </script>
</div>