<div class="container">
	<h3>Report for <%= @month.nil? ? "" : (Date::MONTHNAMES[@month] + ',') %> <%= @year %></h3>

	<div id="content" style="width:1200px;">
	    <div id="divLeft" style="width:500px; height: 500px; display:inline-block; float:left;"></div>
	    <div id="divMid" style="width:200px; height: 500px; display:inline-block; float:left;"></div>
	    <div id="divRight" style="width:500px; height: 500px; display:inline-block; float:right;"></div>
	</div>

</div>

<script>

var category_totals = <%= j @transactions_grouped.to_json.html_safe %>;

var cat_expenses = new Array();
var cat_income = new Array();
category_totals.map(function(elem, idx, ctx ){
    if( elem.category_type == "Expense" || elem.category_type == null )
    {
      elem.category_type = "Expense";
      cat_expenses.push( elem );
    }
    else if( elem.category_type == "Income" )
    {
      cat_income.push( elem );
    }
  });

var totalExpense =<%= j @totalExpense %>;
buildPie( cat_expenses, totalExpense, 1, "#divLeft", "Expense" );

var totalIncome =<%= j @totalIncome %>;
buildPie( cat_income, totalIncome, 1, "#divRight", "Income" );

buildMid( totalIncome - totalExpense, "#divMid" );

</script>

<div id="chartContainer">
  <script type="text/javascript">

    var bud_cats = <%= raw render(:file => 'budget_categories/index.json.rabl') %>

    var cat_types = ["Expense","Income","Asset"];
    for( idx in cat_types )
    { 
        var cat_type = cat_types[idx];
        var cat_type_actuals = dimple.filterData(category_totals, "category_type", cat_type);

        var svg = dimple.newSvg("#chartContainer", 890, 400);
        var cat_type_budgeted = dimple.filterData(bud_cats,"type", cat_type);

        var cat_type_actuals = cat_type_actuals.concat( cat_type_budgeted );

        build( svg, cat_type_actuals ); 
    }

 

    function build( svg, data )
    {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(60, 30, 810, 305)
      myChart.addMeasureAxis("y", "amount").tickFormat = ".0f";
      myChart.addCategoryAxis("x", ["category_name", "category_type"]);
      myChart.addSeries("category_type", dimple.plot.bar);

      myChart.draw();
    }
  </script>
</div>