<!DOCTYPE html>
<html>
  <head>
    <title>kgcash</title>
      <% #TODO Datepicker stylesheet needs to be local and better. Also better jquery identifier in application.js %>
      <%= include_gon(:init => true) %>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to 'kgcash', root_path, {:class=>"navbar-brand"} %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-header navbar-right">
      <p class="navbar-text">
      <a href="#" class="navbar-link"><%= current_user ? current_user.username : ""%></a>
      </p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="divider-vertical"></li>
        <% if current_user %>

          <li><%= link_to 'Accounts', accounts_path %> </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Transactions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", transactions_path %></li>
              <li><%= link_to "Income & Savings", incomes_path %></li>
              <li><%= link_to "Payments & Transfers", payments_path %></li>
              <li><%= link_to "Expenses", expenses_path %></li>
              <li><%= link_to "Import", new_transaction_import_path %></li>
            </ul>
          </li>

           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reports <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Total Spend", reports_path  %></li>
              <li><%= link_to "Spend by Category", category_reports_path %></li>
            </ul>
          </li>

          <li><%= link_to 'Budgets', budgets_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Profile <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
              <li><%= link_to "Logout", :logout %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Login", :login %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="containter-fluid">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
      <%= yield %>
        <div class="row-fluid">
          <div class="span10">
            <p id="notice"><%= notice %></p>
            <p id="alert"><%= alert %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="infobox"></div>
  </body>
</html>
