
<div class="col-md-6 mx-auto">

	<h3>My Accounts</h3>

	<%= render partial: 'accountGroup', locals: { title: 'Expense Accounts', id: 'expenses', accounts: @expenseAccounts }  %>
	<%= render partial: 'accountGroup', locals: { title: 'Income Accounts', id: 'income', accounts: @incomeAccounts }  %>
	<%= render partial: 'accountGroup', locals: { title: 'Asset Accounts', id: 'asset', accounts: @assetAccounts }  %>
	<%= render partial: 'accountGroup', locals: { title: 'Liability Accounts', id: 'liability', accounts: @liabilityAccounts }  %>



	<%= link_to 'New Account', new_account_path %>
</div>

<br />


