<script>
	var multiBarOptions = getEchartsMultibarOptions(gon.echartMonthly);
	multiBarOptions.xAxis.data = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	multiBarOptions.xAxis.name = <%= @year %>;
</script>

<script>
	$(document).ready(function() {

		// Set the active tab in local storage and show the tab when a tab is clicked
		$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
			localStorage.setItem('activeTab', $(e.target).attr('href'));
			$('.tab-pane').hide();
			var tab = $($(e.target).attr('href'));
			tab.show();

			// Redraw the chart if the shown tab is the chart tab
			if ($(e.target).attr('href') === '#chartMonthly') {
				myChart.resize();
			}
		});

		// Check if there's a saved tab
		var activeTab = localStorage.getItem('activeTab');
		if (activeTab) {
			$('#myTab a[href="' + activeTab + '"]').tab('show');
			$(activeTab).show();

		} else {
			// Show the default tab if no tab is saved
			$('#myTab a[href="#chartMonthly"]').tab('show');
			$('#chartMonthly').show();
		}

	});
</script>


<div class="row">
	<div class="col-md-3">
		<h3>Account Details:</h3>
	</div>
	<div class="col-md-7">
		<h3>Monthly Balance:</h3>
	</div>
	<div class="col-md-2">
		<h3><%= render partial: 'transactions/year_navigator', locals: { year: @year } %></h3>
	</div>
</div>


<div class="row">
	<div class="col-md-3">
		<table class="table">
			<tbody>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Name</strong></td>
					<td><%= @account.name %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Description</strong></td>
					<td><%= @account.description %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Account Type</strong></td>
					<td><%= @account.account_type %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Import Class</strong></td>
					<td><%= @account.import_class %></td>
				</tr>
			</tbody>
		</table>

		<%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-primary' %>
		<%= link_to 'Back to Accounts', accounts_path, class: 'btn btn-secondary' %>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="false">Table</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="chartMonthly-tab" data-toggle="tab" href="#chartMonthly" role="tab" aria-controls="chartMonthly" aria-selected="true">Chart</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="chartMonthly" role="tabpanel" aria-labelledby="chart-tab">
				<%= render partial: "reports/multiBarChart", locals: {
					domId: "monthlyBalanceChart",
					data: "multiBarOptions",
					height: "400"
					}
				%>
			</div>
			<div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
				<div class="table-responsive" style="height:400px; overflow:auto;">
					<table class="table table-striped table-condensed text-center">
						<tr>
							<th>Month</th>
							<% @monthly_balance.each do |month| %>
								<th><%= month[:month] %></th>
							<% end %>
						</tr>
						<tr>
							<th>Credits</th>
							<% @monthly_balance.each do |month| %>
								<td><%= number_to_currency(month[:credits], precision: 0) %></td>
							<% end %>
						</tr>
						<tr>
							<th>Debits</th>
							<% @monthly_balance.each do |month| %>
								<td><%= number_to_currency(month[:debits], precision: 0) %></td>
							<% end %>
						</tr>
						<tr>
							<th>Balance</th>
							<% @monthly_balance.each do |month| %>
								<th><%= number_to_currency(month[:balance], precision: 0) %></th>
							<% end %>
						</tr>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-9">
		<h3>Annual Balance</h3>

		<table class="table table-striped table-condensed text-center">
			<tr>
				<th>Year</th>
				<% @yearly_balance.each do |year| %>
					<th><%= year[:year] %></th>
				<% end %>
			</tr>
			<tr>
				<th>Credits</th>
				<% @yearly_balance.each do |year| %>
					<td><%= number_to_currency(year[:credits], precision: 0) %></td>
				<% end %>
			</tr>
			<tr>
				<th>Debits</th>
				<% @yearly_balance.each do |year| %>
					<td><%= number_to_currency(year[:debits], precision: 0) %></td>
				<% end %>
			</tr>
			<tr>
				<th>Balance</th>
				<% @yearly_balance.each do |year| %>
					<th><%= number_to_currency(year[:balance], precision: 0) %></th>
				<% end %>
			</tr>
		</table>
	</div>
</div>
