<script>
	var multiBarOptions = getEchartsMultibarOptions(gon.echart);
	multiBarOptions.xAxis.data = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	multiBarOptions.xAxis.name = <%= @year %>;
</script>

<script>
	$(document).ready(function() {

		// Set the active tab in local storage and show the tab when a tab is clicked
		$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
			localStorage.setItem('activeTab', $(e.target).attr('href'));
			$('.tab-pane').hide();
			var tab = $($(e.target).attr('href'));
			tab.show();

			// Redraw the chart if the shown tab is the chart tab
			if ($(e.target).attr('href') === '#chart') {
				myChart.resize();
			}
		});

		// Check if there's a saved tab
		var activeTab = localStorage.getItem('activeTab');
		if (activeTab) {
			$('#myTab a[href="' + activeTab + '"]').tab('show');
			$(activeTab).show();

		} else {
			// Show the default tab if no tab is saved
			$('#myTab a[href="#chart"]').tab('show');
			$('#chart').show();
		}

	});
</script>


<div class="row">
	<div class="col-md-4">
		<h3>Account Details:</h3>
	</div>
	<div class="col-md-6">
		<h3>Monthly Balance:</h3>
	</div>
	<div class="col-md-2">
		<%= render partial: 'transactions/year_navigator', locals: { year: @year } %>
	</div>
</div>


<div class="row">
	<div class="col-md-4">
		<table class="table">
			<tbody>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Name</strong></td>
					<td><%= @account.name %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Description</strong></td>
					<td><%= @account.description %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Account Type</strong></td>
					<td><%= @account.account_type %></td>
				</tr>
				<tr>
					<td class="bg-light" style="width: 30%;"><strong>Import Class</strong></td>
					<td><%= @account.import_class %></td>
				</tr>
			</tbody>
		</table>

		<%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-primary' %>
		<%= link_to 'Back to Accounts', accounts_path, class: 'btn btn-secondary' %>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="false">Table</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="true">Chart</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
			<%= render partial: "reports/multiBarChart", locals: {
				domId: "monthlyBalanceChart",
				data: "multiBarOptions",
				height: "400"
				}
			%>
		</div>
		<div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
			<table class="table table-striped table-condensed text-center">
			<tr>
				<th>Month</th>
				<th>Credits</th>
				<th>Debits</th>
				<th>Balance</th>
			</tr>
			<% @monthly_balance.each do |month| %>
				<tr>
				<td><%= month[:month] %></td>
				<td><%= number_to_currency(month[:credits]) %></td>
				<td><%= number_to_currency(month[:debits]) %></td>
				<td><%= number_to_currency(month[:balance]) %></td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>